.cartlink {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #0389e8;
  filter: drop-shadow(0 1px 0 white);
}

.CartLink .cartlink img {
  width: 85px;
  transition: 0.2s;
}

.CartLink .cartlink span {
  padding-top: 2px;
  color: #0389e8;
}

.CartLink .cartlink:focus {
  filter: drop-shadow(0 1px 0 #ff004c);
}

.CartLink .cartlink:hover {
  filter: drop-shadow(0 1px 0 #0389e8);
}
