.OrderForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #171b20;
  position: relative;
}

.fon .canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fon .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fon {
  width: 100%;
  padding: 40px;
  background-color: #171b20;
  border-bottom: 1px solid #ffffff20;
  position: relative;
}

.OrderForm label input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 10px;
  border-radius: 15px;
}

.OrderForm label input:focus {
  border: none;
  border: 2px solid white;
}

.OrderForm label span {
  width: 80px;
  display: block;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.OrderForm button {
  width: 100px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
}

.OrderForm button:hover {
  border: 2px solid #1ca5eb;
  color: #1ca5eb;
}

.OrderForm button:active {
  border: 2px solid #ff004c;
  color: #ff004c;
}

.request h1 {
  margin: 0;
  padding-bottom: 20px;
}
