.Logo a img {
  width: 190px;
  filter: drop-shadow(2px 1px 0 white);
  transition: 0.2s;
}

.Logo a img:hover {
  filter: drop-shadow(2px 1px 0 #1ca5eb);
}

.Logo a img:active {
  filter: drop-shadow(2px 1px 0 #ff004c);
}
