@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.AddToCart button {
  box-shadow: 0 6px 1px #000000;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  background-color: cyan;
  transition: all 0.2s;
  font-weight: 600;
}

.AddToCart {
  display: flex;
  justify-content: center;
}

.AddToCart div {
  box-shadow: 1px 6px 1px #000000;
  padding: 5px 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  background-color: cyan;
  margin-left: 5px;
}

.AddToCart button:hover {
  box-shadow: 0 4px 1px #000000;
  transform: translateY(2px);
  color: red;
  text-decoration: underline;
}

.AddToCart button:active {
  box-shadow: none;
  transform: translateY(4px);
}
