@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Layout header .header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 10px 40px;
  align-items: center;
  margin-top: 15px;
}

.Layout header .header-bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout header nav {
  margin-bottom: 5px;
}

.Layout header {
  background-image: url(../../assets/fon-header.avif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Layout main {
  font-family: "Rubik", sans-serif;
}
