.Layout header {
  background-color: #202025;
  padding: 5px 35px;
}

.Layout .header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.Layout .header-bottom .auth button {
  padding: 12px;
  font-size: 18px;
  border-radius: 15px;
  color: #dddddd;
  background-color: transparent;
  border: 2px solid #dddddd;
  box-shadow: inset 5px 5px 20px #dddddd25, inset -5px -5px 20px #dddddd25;
}

.Layout .header-bottom .auth button:hover {
  color: #1e9eff;
  border: 2px solid #1e9eff;
  box-shadow: inset 5px 5px 20px #1e9eff25, inset -5px -5px 20px #1e9eff25;
}

.Layout .header-bottom .auth button:active {
  color: #fa1240;
  border: 2px solid #fa1240;
  box-shadow: inset 5px 5px 20px #fa124025, inset -5px -5px 20px #fa124025;
}
