.category-icon {
  width: 30px;
  margin-right: 5px;
}

.CategoryList .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.CategoryList .nav .nav-links div {
  display: flex;
  width: 225px;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  border-radius: 10px;
}

.CategoryList {
  padding: 10px 35px;
  text-align: center;
  background: linear-gradient(135deg, #9055ff, #13e2da);
}

.CategoryList .nav .nav-links div a {
  color: black;
  font-weight: 600;
}

.CategoryList .nav .nav-links div:hover {
  filter: drop-shadow(1px 0.1em white);
  text-decoration: underline;
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
}

.CategoryList .nav .nav-links div:active {
  box-shadow: inset 1px 1px 10px black;
}
