.nav-links img {
  width: 30px;
  height: 30px;
}

.fon-category {
  margin: 10px 0;
  border-radius: 20% 80% 20% 80% / 90% 25% 75% 10%;
  background: linear-gradient(
    45deg,
    #ffffff70,
    #ffffff60,
    #ffffff50,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10
  );
}

.fon-category h1 {
  padding: 10px 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.fon-category .nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.fon-category .nav .nav-links {
  width: 280px;
  padding: 10px 20px;
  align-items: center;
}

.fon-category .nav .nav-links a {
  padding: 10px;
  color: white;
  transition: 0.2s;
}

.fon-category .nav .nav-links div {
  align-items: center;
  display: flex;
}

.fon-category .fon {
  background: linear-gradient(
    180deg,
    #1bfa88,
    #1bfa87eb,
    #1bfa87cc,
    #1bfa87c3,
    #1bfa87c3,
    #1bfa87cc,
    #1bfa87eb
  );
  border-radius: 80% 20% 90% 10% / 30% 95% 5% 70%;
  box-shadow: 3px -3px 20px #ffffff70;
}

.fon-category .nav .nav-links a:hover {
  color: black;
  text-decoration: underline;
  transform: scale(1.1);
}
