@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 110vh;
  background-color: #cfcfcf;
  font-size: 18px;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
