@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");
.Nav {
  align-items: center;
  padding: 10px 40px 0 40px;
}

.Nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav ul li {
  background: linear-gradient(45deg, #00000010, #00000060);
  box-shadow: 0 6px 1px #000000;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.Nav ul li a {
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-family: "Alkatra", cursive;
  letter-spacing: 1px;
}

.Nav ul li:hover {
  box-shadow: 0 3.5px 1px #000000;
  transition: 0.2s;
  transform: translateY(2px);
}

.Nav ul li:active {
  box-shadow: none;
  transition: 0.2s;
  transform: translateY(6px);
}

.Nav ul li a:hover {
  color: crimson;
  text-decoration: underline;
}
