.Auth span a img {
  width: 35px;
  border-radius: 50%;
  border: 2px solid #ff004c;
}

.Auth {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.Auth svg {
  filter: drop-shadow(0 0 5px #ff004c50);
  cursor: pointer;
}

.Auth svg:hover {
  fill: #1ca5eb;
}

.Auth span a img:hover {
  border: 2px solid #1ca5eb;
}
